/*general*/

*,*:after,*:before
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    

} 
/* .owl-stage,.owl-item {
    width: 100% !important;
} */
.container{
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
}

.scrolled{
	background-color:#11a773b8 !important;
	color: #fff;
	width: 100%;

}




.clearfix{
    clear:both;
}
.overlay{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    background: rgba(0,0,0,0.6);
    z-index: 1;

}

/*nav*/

.navbar {
  font-size: 18px;
     background-image: linear-gradient(260deg, #1b9a6e 0%, #2f2f2f 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  z-index: 999999;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
/*nav end*/
.header{

position: relative;
    background: linear-gradient(#217e5d,rgba(187,145,47,0.23)),url(../images/header.jpg) no-repeat;
background-size: cover;

height: 600px !important;


color: #fff;
}
/*bxslider*/

.header .slider {
    list-style: none;

}
.header .slider li .header-footer {
    width: 40px;
    height: 59px;
    background: #1a6d50;
    position: absolute;
    bottom: -31%;
    left: 50%;
    border-radius: 20px;
    border:1px solid #fff;
    text-align: center;
}
.header .slider li .header-footer .scroll{
    height: 10px;
    width: 6px;
    background: #fff;
    /* top: 88%; */
    margin:auto;
    /* text-align: center; */
   
    top:4px;
    position:relative;
    animation: scrolling 2s infinite ease-in-out;
}
@keyframes scrolling{
    0%{
        opacity: 0;
        top:5px;
    }
    30%{
        opacity: 1;
        top:10px;
    }
    100%{
        opacity: 1;
        top:25px;
    }
}
.header .slider li{
    display: block;
   
}
.header .slider li h2{
    font-size: 3rem;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 50%;
    margin: auto;
}
@media(max-width: 768px){
    .header .slider li h2{
       font-size: 18px;
    }


}
.header .slider li h2 span{
    color: #1b9a6e;
}
.header .slider li p{
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
        width: 50%;
    
    margin: 20px auto 20px;
}
.header .slider li button{
    padding: 10px 20px;
    background: transparent;
    color: #fff;
}
@media(max-width: 768px){
  .header .slider li button{
    padding: 5px 10px;
  }  
}
.header .slider li button:hover{
    background: #1b9a6e;
}
.header .bx-wrapper {
background: none;
border: 0;
height: 100% !important;
}
.bx-viewport{
box-shadow: none;
background: none;
border: 0;
height: 100% !important;
text-align: center;


}
@media(max-width: 768px),(max-width: 400px){
    .header .slider li p{
    font-size: 10px;
    color: #ccc;
    margin-top: 20px;
        width: 75%;
        
    
}
}
/*********services*************/
section.services{
   
    background: #f4f4f4;
    padding: 50px 50px;

}
section.services h1{
    text-align: center;
}
section.services .line{
    width: 200px;
    background: #ddd;
    height: 1px;
    margin: auto;
}
section.services .line span{
    display: block;
    width:100px;
    background: #1b9a6e;
    height: 4px;
    margin: auto;
}
section.services p{
    color: #6c757d;
    margin: 20px auto;
    text-align: center;
}
section.services .column .row:last-of-child{
    padding: 20px;
}
section.services .column i{
    font-size: 50px;
    text-align: center;
    color: #1b9a6e;
}
section.services .column i#html5{
    color: red;
}
section.services .column i#wordpress{
color: #1176e8;
}
section.services .column i#email{
color: #33d4de;
}
section.services .column h4
{
    margin-top: 20px;
}
section.services .column button{
        background: none;
    padding: 8px;
    color: #1b9a6e;
    font-weight: bold;
}
section.services .column button:hover{
    background: #1b9a6e;
    color: #fff;
    transition: all 2s ease-in-out;
}
section.services hr{
    height: 1px;
    background: #1b9a6e;
    width: 80%;
    margin: 20px auto;
}
section.services .column i#w{
    color:#be54b8;
}
section.services .column i#shopify{
color:#adc941;
}
section.services .column i#react{
  color:#de7f6b;  
}
@media (max-width: 771px){
    section.services p{
        font-size: 12px;
    }
    section.services h1 {
    
    font-size: 1.5rem;
}
section.services span{
    font-size: 13px;
}
section.services h4{
    font-size: 18px;
}
}

/*********services*************/
section.work{
   
    background: #fff;
    padding: 50px 50px;

}
section.work h1{
    text-align: center;
}
section.work .line{
    width: 200px;
    background: #ddd;
    height: 1px;
    margin: auto;
}
section.work .line span{
    display: block;
    width:100px;
    background: #1b9a6e;
    height: 4px;
    margin: auto;
}
section.work p{
    color: #6c757d;
    margin: 20px auto;
    text-align: center;
}
section.work .father{
     
    overflow: hidden;
}
section.work .father .image{
    float: left;
    width: 30%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: 10px;
    height: 200px;
    border-radius: 10px;
    border:1px solid #1b9a6e;
}
section.work .father .image:first-of-type{
    background-image: url(../images/1.jpg);
}
section.work .father .image:nth-of-type(2){
    background-image: url(../images/2.jpg);
}
section.work .father .image:nth-of-type(3){
    background-image: url(../images/3.jpg);
}
section.work .father .image:nth-of-type(4){
    background-image: url(../images/4.jpg);
}
section.work .father .image:nth-of-type(5){
    background-image: url(../images/5.png);
}
section.work .father .image:nth-of-type(6){
    background-image: url(../images/6.jpg);
}
section.work .father .image .layout{
    width:340px;
    height:217px;
    background:rgba(255,255,255, 0.8);
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: -110%;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight:700;
    text-align:justify;
    color:#000000;
    font-family:"Times New Roman", Times, serif;


}
section.work .father .image:hover .layout{
    top: 0%;

}
section.work .father .image .layout a{
    background: #1b9a6e;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    color:#fff;
    margin-top: 5em;
    margin-left: 5em;
    display: inline-block;
    letter-spacing: 3px;
    text-decoration: none;
}
@media (max-width: 771px){
section.work .father .image {
    width: calc(90% / 1);
}
section.work h1{
 font-size: 1.5rem;
}
section.work p{
    font-size: 13px;
}

}
/************try************/
.try{
    background: #1b9a6e;
    
    color: #fff;
    height: 400px;
}
.try img{
        width: 60%;
    animation: pulse 2.5s linear infinite;
    margin-top: 30px;
}
.try .main{
    padding: 40px;
}
.try .main h2{
    font-size: 40px;
}
.try .main h4{
    font-size: 25px;
}
.try .main p{
        font-size: 18px;
}
.try .main hr{
        height: 1px;
    background: #fafdfc;
    width: 25%;
}

@media all and (max-width: 559px){ 
.try{
    height: 100%;
}

.try .main h2 {
    font-size: 27px;
}
.try .main h4{
    font-size: 20px;
}
.try .main p {
    font-size: 14px;
    }
}

/*******promise************/
.promise{
    padding: 20px;
}
.promise p{
    margin:20px;
    color: #555;
}
.promise .icon{
    float: left;
    width: 19%;
    font-size: 30px;
    color: #1b996e;
}

.promise .title{
    width: 80%;
    float: left;
}
.promise .title h2{
   color #353535;
   font-size: 22px;
}
.promise .title p{
    color: #c5c0c0;
}
div.promise h1{
    text-align: center;
}
div.promise .line{
    width: 200px;
    background: #ddd;
    height: 1px;
    margin: auto;
}
div.promise .line span{
    display: block;
    width:100px;
    background: #1b9a6e;
    height: 4px;
    margin: auto;
}
div.promise p{
    text-align: center;
}
@media(max-width: 771px){
    .promise h1{
        font-size: 1.5rem;
    }
    .promise  p {
    font-size: 14px;
    margin: 0;
}
.promise .title h2{
    font-size: 18px;
}
.promise .title p {
    margin: 0;
    font-size: 13px;
}
}
/**company***/
.company{
height: 500px;
background: 
}
.company .left-section{
    padding-right:0;
}
.company .left-section img{
    width:100%;
    height: 533px;
}
.company .left-section:after {
    content: "";
    position: absolute;
    width: 106%;
    left: 8%;
    top: 31px;
    height: 79%;
    background-image: url(../images/after.jpg);
    background-size: cover;
    z-index: 999;
}
.company .right-section {
    padding-left: 150px;
    padding-top: 120px;
    background: #1b9a6e;
    color: #fff;}
.company .right-section h2 {
    font-size: 40px;
}
.company .right-section p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.company .right-section .left {
    width: 30%;
    float: left;
}
@media (max-width: 992px){
.company .left-section {
    width: 100%;
    float: none;
}

.company .left-section:after {
    width: 90%;
    left: 5%;
}
}


@media (max-width: 771px){
.company .left-section:after {
    width: 90%;
    left: 5%;
}

.company .right-section {
    display: none;
}
}
/************services page*************/
.service img{
    max-width: 100%;
}
/*********start project*******************/
.project{

    padding-top:100px;
    background:#eabe9d;
    height:300px;
}
.project h1{
    font-weight: bold;
}
.project button{
        background: none;
    border: 1px solid #000;
    padding: 10px 12px;
    border-radius: 5px;
}
.project button:hover{
    background: #1b9a6e;
    color: #fff;
    transition: all 0.5s ease-in-out;
}
@media (max-width: 771px){
    .project h1{
        font-size: 1.5rem;
    }
}
/******fooetr*/
.footer{
    padding: 100px 100px;
    background-image: url(../images/back.jpg);
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    color: #fff;
    
}
.footer .row{
    padding-top: 69px;
}
@media all and (max-width: 767px){
.footer{
    height: 846px !important;
    background-size: cover;
      } 

.footer .row{
    padding-top: 35px;
    margin: 3%;
      }
      .footer h1{
        font-size: 1.5rem;
      }
      .footer ul li{
        font-size: 13px;
      }

}

/***footer2*****/
.footer2{
        background-image: linear-gradient(260deg, #186c4f 0%, #171413 100%);
    color:#fff;text-align: center;padding: 5px 0;

}
.footer2 h2{
    line-height: 2;
    font-size: 27px;
}

.footer2 a{
    color: #fff;
}
.footer2  i{
    font-size: 25px;
    margin-right: 10px;
}
.footer2 i:hover{
  color:#ccc;
  transition: all 0.5s ease-in-out;
}

@media all and (max-width: 595px){
    
    .footer2 i{
    font-size: 20px;
    margin-right: 5px;
    transition: 2s all ease-in-out    
}
    .footer2 i:hover {
        transform: rotate(360deg);
    }
.footer2 h2{
    
    font-size: 16px;
}
    
}
/*****service page*******/
/*************** services ************/
.our-service {
    padding-top: 60px;
    background: #f4f7fc;
    overflow:hidden;
    padding-bottom: 60px;
}
.our-service .main-tilte{
    text-align: center;
}
.our-service .main-tilte h2{
    font-size: 50px;
}
.our-service .main-tilte h2 span {
    display: block;
    color: rgb(0, 94, 210);
}
.our-service .main-tilte p{
    width:80%;
    margin: auto;
    font-size: 24px;
}
.our-service .father {
    padding-top: 30px;
}
.our-service .father .son{
    width: calc(90% / 3);
    float: left;
    height: 500px;
    text-align: center;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
   box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 10px  5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
}
.our-service .father .son .img{
    text-align: center;
    background-image: url('../imgs/serv1.jpg');
    background-size: cover;
    max-height: 90%;
    min-height: 90%;
    overflow: hidden;
    border: 1px solid #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.our-service .father .son:first-of-type{
    margin-right: 2%;
}
.our-service .father .son:nth-of-type(2){
    margin-right: 3%;
}
.our-service .father .son:nth-of-type(4){
    margin-right: 2%;
    margin-top: 20px;
}
.our-service .father .son:nth-of-type(5){
    margin-right: 3%;
    margin-top: 20px;
}
.our-service .father .son:nth-of-type(6){
    margin-right: 2%;
    margin-top: 20px;
}
.our-service .father .son:first-of-type .img{
    background-image: url('../images/serv1.jpg');
}
.our-service .father .son:nth-of-type(2) .img{
    background-image: url('../images/ser2.jpg');
}
.our-service .father .son:nth-of-type(3) .img{
    background-image: url('../images/ser3.jpg');
    background-position: 100% 100%;
}
.our-service .father .son:nth-of-type(4) .img{
    background-image: url('../images/ser4.jpg');
    background-position: 100% 100%;
}
.our-service .father .son:nth-of-type(5) .img{
    background-image: url('../images/ser5.jpeg');
}
.our-service .father .son:nth-of-type(6) .img{
    background: url('../images/ser6.jpg');
}
.our-service .father .son .title{
    padding-top: 8px;
    background: #fff;
}
.our-service .father .son .title h4{
    margin-top: 1px;
}
.our-service .father .son:hover .layout {
  top:0;  


}
.our-service .father .son .layout{
    width:100%;
    height: 90%;
    top:-100%;
    transition: all .4s ease;
    position: absolute;
    background:rgba(0,0,0, .7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.our-service .father .son .layout a{
    text-decoration: none;
    width:40%;
    margin: auto;
    margin-top: 200px;
    font-size: 20px;
    display: block;
    background:#1b9a6e;
    border:1px solid #000;
    border-radius: 5px;
    padding:10px 20px;
    color: #fff;
}
.our-service .father .son .layout a:hover{
    background: #fff;
    color: #000;
    border-color: #fff
}
@media (max-width: 771px){
    .our-service .father .son{
        
        width: calc(90% / 1);
        margin: 6%;
    }
    .our-service .father .son .title h4 {
        font-size: 1rem;
    }
    .our-service .main-tilte p{
        font-size: 13px;
    }
    .our-service .main-tilte h2{
        font-size: 25px;
    }
}
/***work with us/****/
.work-us{
    padding:50px 0;
}
.work-us i{
    font-size: 50px;
    color:#1b9a49;
}
.work-us h2{
    font-size: 20px;
}
.work-us p{
color:#555;
}
/***loading---***/
.loading{
    background: url(../images/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 3px 3px #000;
    color: #fff;
}
.loading .layout{
    width: 100%;
    height: 100%;
    background: rgba(83, 186, 0, .8);
    position: absolute;
    left: 0;
    top: 0;

}
.loading .layout .load{
    margin-top: 100px;
}
.loading .layout h3{
    font-size: 50px;
    font-weight: bold;
    margin: 50px;
}
.loading .layout p{
        
    line-height: 1.6;
    font-size: 22px;
    margin: 40px;
}
.loading .layout h3 span{
    color:#000;
}
.loading .layout i{
    margin: 220px 0;
}
@media (max-width: 771px){
    .loading{
        height:500px;
    }
    .loading .layout p{
        font-size: 14px;
    }
    .loading .layout h3{
        font-size: 34px;
        margin:7px 34px
    }
    .loading .layout i{
        margin: 13px 123px;
    }
}
/******customize**/
.customize{
    height: 550px;

}
.customize .img{
    background-attachment:fixed;
   width:45%;
   float: left;
   height: 500px;
    background: url('../images/6.jpg');
    background-size: cover;
}
.customize .main-title{
    width: 50%;
    float: left;
    margin-left: 5%;
}
.customize .main-title p{
    color:#5a585acc;
}
.customize .main-title .icon{
    width:10%;
    float: left;
}
.customize .main-title .title{
    width:85%;
    float: left;
}
@media (max-width: 771px){
    .customize{
        height: auto;
    }
    .customize .img{
        float: none;
        width: 100%;
    }
    .customize .main-title{
        float: none;
        width: 100%;
    }
    .customize .main-title h1{
        font-size: 30px;
    }
    .customize .main-title .title h2{
     font-size: 1rem;
    }
}

